@import '../../base.scss';

.watchScreen__player {
   height: 60vh;
   background-color: #1a1a1a;
   width: 100%;
   margin-bottom: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.watchScreen__offlinePlayer {
   text-align: center;
   padding: 2rem;

   &-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      p {
         font-size: 1.5rem;
         font-weight: 600;
         color: #fff;
         margin: 0;
      }

      span {
         color: #aaa;
         font-size: 0.9rem;
      }
   }
}

@media (max-width: $breakpoint-small) {
   .watchScreen__player {
      height: 35vh;
   }
}